 *{
     background-color:rgb(240, 236, 242) ;
     padding-left: 3%;
 }
   
 .header {
      background-color: rgb(155, 143, 160);
      padding: 50px 50px;
      display: flex;
      flex-direction: column;
    }

   

    img{
        height: auto;
        width: 570px;
        max-width: 100%;
        align-items: center;
        display: flex;
        margin-left: 20%;
        margin-right: 25%;
    }
   
    h1{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 1.5rem;
        font-variation-settings:
        "wdth" 100;
    }
    hr{
       background-color: black;
       height: 2px;
       margin: 80px auto;
    }
   
    h2{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight:400;
        font-style: normal;
        font-size: 1rem;
        margin-bottom: 2px;
    }
    ul{
        font-family: "Open Sans", sans-serif;
       font-weight: bolder ;
        font-size: 1rem;
        margin-bottom: 10px;
    }
    h4{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 1.2rem;
        margin-bottom: 17px;

    }
    h3{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: normal;
        margin-bottom: 5px;
    }
    p{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 40px;
    }
  
    h5 {
        font-family: "Open Sans", sans-serif;
        padding-left: 30px;
        font-weight: 400;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    h6{
        font-family: "Open Sans", sans-serif;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 10px;
    }
   
    .bottomBlock{
        background-color: rgb(155, 143, 160); /* Same color as header */
        padding: 30px 50px;
        margin-top: auto;
        height: 170px;
    }
  